.header{
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}
.header__logo{
    display: flex;
    margin-right: 33px;
    padding-bottom: 10px;
}

.header__language{
    flex-basis: 15%;
    display: flex;
    
    color: white;

    .language{
        margin-right: 21px;
        color: rgba(196, 196, 196, 0.5);
    }
}

.header__nav{
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    margin-right: 31px;
    a{
      text-decoration: none;
      color: white;  
    }
}
.header__btn{

    max-width: 146px;
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FFB800;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}