.main{
    display: flex;
    height: 360px;
    margin-bottom: 205px;
}
.main__title{
    flex-basis: 60%;
    align-self: center;
    color: white;
    font-weight: 500;
    line-height: 58px;

    h1{
        max-width: 582px;
        width: 100%;
        font-size: 48px;
        margin-bottom: 26px;
        line-height: 58px;
        font-weight: 500;
    }
    p{
        max-width: 474px;
        width: 100%;
        font-size: 20px;
        line-height: 38px;
        font-weight: 400;
    }
   
}
.main__form{
   max-width: 500px;
   width: 100%;
   height: 360px;
   padding: 50px 70px;
   
   background: rgba(51, 51, 51, 0.25);
   box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);

   border-radius: 10px;
   color: white;
    h3{
     font-weight: 500;
     font-size: 20px;
     line-height: 24px;
     margin-bottom: 24px;

   }
   .form{
    color: white;

    .form__search{
        color: white;
        img{
            transform: translateX(-25px);
        }
        
    }
    input{
        background-color: inherit;
        outline: none;
        border: 1px solid #FFFFFF;
        border-radius: 4px;
        height: 36px;
        width: 90%;
        margin-bottom: 21px;
        padding: 10px;
        color: white;
    }
   }

   .main__form-button{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFB800;
    border-radius: 4px;
    height: 36px;
    cursor: pointer;
   }
}