.container{
    display: flex;
justify-content: center;
align-items: center;
height: 100vh;
form{
  max-width: 700px;
  width: 100%;
  min-height: 250px;
  padding: 25px;
  
 background: rgba(51, 51, 51, 0.25);
 box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);

 border-radius: 10px;
 h1{
  text-align: center;
  color: white;
  margin-bottom: 50px;
 }
 h2{
  margin-bottom: 25px;
  font-size: 45px;
  color: red;
 }
 input{
  background-color: inherit;
  outline: none;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  height: 66px;
  width: 100%;
  margin-bottom: 21px;
  padding: 10px;
  color: white;
  font-size: 45px;
  } 
}
.btn-form{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFB800;
  border-radius: 4px;
  height: 66px;
  cursor: pointer;
  margin-bottom: 10px;
}
}